@font-face {
    font-family: 'Recoleta';
    src: local('Recoleta Bold'), local('Recoleta-Bold'),
        url('Recoleta-Bold.woff2') format('woff2'),
        url('Recoleta-Bold.woff') format('woff'),
        url('Recoleta-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }