.form {
  width: 100%;
  max-width: 36rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form p,
.form input {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
}

.emailInput,
.submit {
  padding: 15px 12px;
  font-size: 16px;
  line-height: 18px;
}

.emailInput {
  flex: 1;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.submit {
  color: #ffffff;
  background: #8b18e3;
  border: 1px solid #8b18e3;
  border-radius: 8px;
}

.submit:hover {
  cursor: pointer;
}

@media (max-width: 736px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .emailInput,
  .submit {
    width: 100%;
  }
}
